@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 87, 0, 57;
  --background-rgb: 242, 200, 215;
}

td, th {
  vertical-align:top;
  }
  
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
